@model GraceChurchKelseyvilleAwana.Models.EmailViewModel

@{
    ViewBag.Title = "Send Emails";
}

<h2>Send Emails</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.EmailBody, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.EmailBody, new { cols = "40", rows = "5" })
        </div>
    </div>
    
    <div class="form-group">
            @Html.LabelFor(model => model.Recipients, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.Recipients, "Leaders", true) Leaders
                @Html.RadioButtonFor(model => model.Recipients, "Students", false) Students
            </div>
        </div>
    
    <input type="submit" value="Send" class="btn btn-default" />  
    
}

@if (Model.Confirm)
{
    <p>
        <i>
            Your message has been sent.
        </i>
    </p>
}
